---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="RoamRasa">
	<main>
		<section>
			<h1 class="font-kantata">Life is either a daring adventure or nothing at all.</h1>
			
		</section>

		<section>
			Iam some other section
		</section>
	</main>
</Layout>

