---
import { Image } from "astro:assets";
import logo from "../assets/rr_text.png";
---

<div class="flex flex-col justify-center items-center space-y-6 h-full">
    <!-- Spinner for later -->
    <Image class="w-48 object-contain logo_animation " src={logo} alt="logo" />
    <!-- Hardcoded for now -->
    <p
      class="text-text-brand font-garant-light text-xl text-center text-balance loaderQuote_animation"
    >
      “Life is either a daring adventure or nothing at all.”
    </p>
  </div>