---
import Button from "./Button.astro";
import Card from "./Card.astro";

---




<header>
    <nav class="bg-green-500 flex justify-between items-center">   
        <div class="">
            Logo
        </div>
    
        <ul class="flex">
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
            <li>Link </li>
            <li>Link</li>
        </ul>
    
        <Button>CTA</Button>
    </nav>

</header>

