---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image /svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-surface-primary">
    <audio src="/forest.ogg" id="forest_audio" loop="loop" preload="auto">
    </audio>

    <slot />
  </body>
  <script
    src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"
  ></script>
</html>
